@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melih Topbaş ASP.net Core Proje</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" />
    <link rel="stylesheet" href="~/2021-403forbidden (1)/403forbidden/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Üzgünüz :( Bu sayfaya erişim izniniz yok!</p>
            <p><a href="/Departman/Index">Lütfen geri dönünüz :/</a></p>
            <p> <a  class="alert-link" href="~/Security/Login">Giriş ekranına gitmek için lütfen tıklayın..</a>

        </div>
    </div>
    
    

    </p>
    <!-- partial -->

</body>
</html>
